@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root{
    --Pale_Blue: hsl(243, 100%, 93%);
    --Grayish_Blue: hsl(229, 7%, 55%);
    --Dark_Blue: hsl(228, 56%, 26%);
    --Very_Dark_Blue: hsl(229, 57%, 11%);
}

body{
    font-family: 'Raleway', sans-serif;
    min-height: 100vh;
    width: 100vw;
    background-image: url('../images/bg-mobile.png');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

*{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, ul, li, body{
    margin: 0;
    padding: 0;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.main__storage{
    display: flex;
    flex-direction: column;
    background-color: var(--Dark_Blue);
    height: 230px;
    width: 90%;
    border-radius: 5px 40% 5px 5px;
    padding: 10%;
    justify-content: space-around;
    margin-bottom: 20px;
}

.main__storage--logo{
    width: 50%;
}

.main__storage--options{
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.main__storage--options img{
    padding: 10px;
    background-color: var(--Very_Dark_Blue);
    object-fit: contain;
    border-radius: 10px;
}

.main__graphic{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--Dark_Blue);
    width: 90%;
    border-radius: 5px;
    color: var(--Pale_Blue);
    align-items: center;
    height: auto;
    padding-bottom: 40px;
}

.main__graphic--info span{
    font-weight: 700;
}

.main__graphic-contain{
    width: 80%;
}

.bar{
    padding: 4px;
    width: 100%;
    border-radius: 50px;
    background-color: var(--Very_Dark_Blue);
}

.bar__usage{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 81.5%;
    height: 12px;
    border-radius: 50px;
    background: linear-gradient(90deg, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
}

.bar__controls{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 700;
}

.bar__controls--start, .bar__controls--end{
    padding: 8px;
}

.bar__usage--end{
    width: 10px;
    height: 10px;
    background-color: white;
    border: 0;
    border-radius: 50%;
}

.main__stats{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -30%;
    width: 50%;
    margin: 0 auto;
    background-color: white;
    height: 80px;
    color: var(--Dark_Blue);
    border-radius: 10px;
}

.main__stats--value{
    color: black;
    font-weight: 700;
    font-size: 40px;
    margin-right: 10px;
}

.main__stats--description{
    text-transform: uppercase;
    font-size: 14px;
    font-weight:700;
    opacity: 0.5;
}

@media screen and (min-width: 1024px){
    body{
        background-color: var(--Very_Dark_Blue);
        background-image: url(../images/bg-desktop.png);
        background-position: bottom;
        background-size: contain;
    }
    .main{
        flex-direction: row;
    }
    .main__storage{
        height: 30%;
        width: 27%;
        padding: 3% 0 3% 3%;
        margin: 0 40px 80px 0;
    }
    .main__graphic{
        padding: 30px 0 30px 45px;
        padding-top: 30px;
        width: 40%;
        height: 20%;
        align-items: flex-start;
    }

    .main__graphic-contain{
        width: 93%;
    }

    .main__stats{
        bottom: 0;
        top: -30%;
        right: 40px;
        width: 30%;
        height: 70px;
        border-radius: 10px;
    }

    .triangle{
        position: absolute;
        border-right: 44px solid transparent;
        border-bottom: 45px solid white;
        border-left: 0px solid transparent;
        border-radius: 90px;
        transform: rotate(180deg);
        right: 40px;
        top: -4px;
    }

    .main__storage--options{
        justify-content: start;        
    }
    
    .main__storage--options img{
        margin-right: 20px;
    }
}